@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: hsl(75, 94%, 57%);
  --grey: hsl(0, 0%, 20%);
  --darkGrey: hsl(0, 0%, 12%);
  --offBlack: #141414;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 10px;
  color: white;
}
.attribution a {
  color: var(--primary-color);
}
